<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,369}</string>
                <key>spriteSourceSize</key>
                <string>{703,369}</string>
                <key>textureRect</key>
                <string>{{554,1283},{703,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>弹窗png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,757}</string>
                <key>spriteSourceSize</key>
                <string>{551,757}</string>
                <key>textureRect</key>
                <string>{{1,1283},{551,757}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>柱子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,1280}</string>
                <key>spriteSourceSize</key>
                <string>{60,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{60,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Main.png</string>
            <key>size</key>
            <string>{924,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e58a568581ef485ba8eb19745136d0b:fd67fcf1012b768f15f69c926eec957b:71fd0f4d858c891d4b483cd3bcff30d8$</string>
            <key>textureFileName</key>
            <string>Main.png</string>
        </dict>
    </dict>
</plist>
