<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{136,165}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1664,335},{136,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{146,175}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1831,335},{146,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{140,177}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1545,475},{140,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_p_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{146,163}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1485,1},{146,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z_s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{190,163}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1513,811},{190,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z_s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{178,165}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1788,1},{178,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{174,165}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1788,798},{174,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_s_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{170,161}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1153,1023},{170,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z_t_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,3}</string>
                <key>spriteSize</key>
                <string>{166,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1423,667},{166,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_t_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{120,126}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1301,685},{120,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_t_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,0}</string>
                <key>spriteSize</key>
                <string>{154,148}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1591,654},{154,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z_t_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-1}</string>
                <key>spriteSize</key>
                <string>{148,134}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1650,155},{148,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_hl_f_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{280,524}</string>
                <key>spriteSourceSize</key>
                <string>{524,680}</string>
                <key>textureRect</key>
                <string>{{621,533},{280,524}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_hl_f_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{326,530}</string>
                <key>spriteSourceSize</key>
                <string>{524,680}</string>
                <key>textureRect</key>
                <string>{{409,1},{326,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_hl_f_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{312,534}</string>
                <key>spriteSourceSize</key>
                <string>{524,680}</string>
                <key>textureRect</key>
                <string>{{95,1},{312,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_hl_f_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{292,520}</string>
                <key>spriteSourceSize</key>
                <string>{524,680}</string>
                <key>textureRect</key>
                <string>{{133,877},{292,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_f_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-27}</string>
                <key>spriteSize</key>
                <string>{472,382}</string>
                <key>spriteSourceSize</key>
                <string>{524,680}</string>
                <key>textureRect</key>
                <string>{{1101,1},{472,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_f_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{524,362}</string>
                <key>spriteSourceSize</key>
                <string>{524,680}</string>
                <key>textureRect</key>
                <string>{{737,1},{524,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_f_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,31}</string>
                <key>spriteSize</key>
                <string>{496,352}</string>
                <key>spriteSourceSize</key>
                <string>{524,680}</string>
                <key>textureRect</key>
                <string>{{655,815},{496,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_wk_f_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{524,338}</string>
                <key>spriteSourceSize</key>
                <string>{524,680}</string>
                <key>textureRect</key>
                <string>{{95,537},{524,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_wk_h_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1147,475},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_wk_h_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1153,813},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_wk_h_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{186,190}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1357,475},{186,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_wk_p_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{146,163}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1485,149},{146,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_p_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{136,165}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1687,512},{136,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_p_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{146,175}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1788,650},{146,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_p_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{138,177}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1485,335},{138,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{190,163}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1623,1003},{190,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{178,165}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1788,168},{178,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_wk_s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{174,165}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1788,965},{174,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_wk_s_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{170,161}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1316,1023},{170,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_t_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,3}</string>
                <key>spriteSize</key>
                <string>{168,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1479,1021},{168,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_t_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{152,126}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1147,685},{152,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renzhe_wk_t_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,148}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1363,813},{206,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_wk_t_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-1}</string>
                <key>spriteSize</key>
                <string>{152,134}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1650,1},{152,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renzhe_yun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,23}</string>
                <key>spriteSize</key>
                <string>{884,92}</string>
                <key>spriteSourceSize</key>
                <string>{1024,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{884,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>分数.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,130}</string>
                <key>spriteSourceSize</key>
                <string>{296,130}</string>
                <key>textureRect</key>
                <string>{{1,887},{296,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{1978,1194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccd3f0b445e1182710c35117afc98564:e60719595d67c6e19bc72b907f52e754:18fcf80557a1b693f695decb3ad03513$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
