<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>death1</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{1,1},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>death3</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{202,1},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>death2</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{403,1},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>death4</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{604,1},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>death5</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{805,1},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>death6</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{1,202},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>death8</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{202,202},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>death7</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{403,202},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>death9</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{604,202},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>death.png</string>
<key>textureFileName</key>
<string>death.png</string>
<key>size</key>
<string>{1006,403}</string>
</dict>
</dict>
</plist>
