<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>cloud.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{210,202}</string>
<key>spriteSourceSize</key>
<string>{210,202}</string>
<key>textureRect</key>
<string>{{0,0},{210,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>start.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,140}</string>
<key>spriteSourceSize</key>
<string>{122,140}</string>
<key>textureRect</key>
<string>{{211,0},{122,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>floor.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,140}</string>
<key>spriteSourceSize</key>
<string>{122,140}</string>
<key>textureRect</key>
<string>{{334,0},{122,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>base.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,140}</string>
<key>spriteSourceSize</key>
<string>{122,140}</string>
<key>textureRect</key>
<string>{{457,0},{122,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>reverse.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,168}</string>
<key>spriteSourceSize</key>
<string>{86,168}</string>
<key>textureRect</key>
<string>{{211,141},{86,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>force.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,168}</string>
<key>spriteSourceSize</key>
<string>{86,168}</string>
<key>textureRect</key>
<string>{{380,141},{86,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ice_3.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,116}</string>
<key>spriteSourceSize</key>
<string>{108,116}</string>
<key>textureRect</key>
<string>{{580,0},{108,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ice_2.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,110}</string>
<key>spriteSourceSize</key>
<string>{108,110}</string>
<key>textureRect</key>
<string>{{580,117},{108,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ice_1.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,90}</string>
<key>spriteSourceSize</key>
<string>{99,90}</string>
<key>textureRect</key>
<string>{{689,0},{99,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>tail.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,71}</string>
<key>spriteSourceSize</key>
<string>{71,71}</string>
<key>textureRect</key>
<string>{{689,100},{71,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>text_balloon.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,64}</string>
<key>spriteSourceSize</key>
<string>{67,64}</string>
<key>textureRect</key>
<string>{{689,172},{67,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gem.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,61}</string>
<key>spriteSourceSize</key>
<string>{62,61}</string>
<key>textureRect</key>
<string>{{757,172},{62,61}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hall.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,49}</string>
<key>spriteSourceSize</key>
<string>{70,49}</string>
<key>textureRect</key>
<string>{{761,100},{70,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>seals.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{56,58}</string>
<key>spriteSourceSize</key>
<string>{56,58}</string>
<key>textureRect</key>
<string>{{780,0},{56,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cap.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,40}</string>
<key>spriteSourceSize</key>
<string>{58,40}</string>
<key>textureRect</key>
<string>{{780,59},{58,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>add_3.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{22,50}</string>
<key>spriteSourceSize</key>
<string>{22,50}</string>
<key>textureRect</key>
<string>{{811,100},{22,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>add_4.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,33}</string>
<key>spriteSourceSize</key>
<string>{30,33}</string>
<key>textureRect</key>
<string>{{549,141},{30,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>add_2.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,30}</string>
<key>spriteSourceSize</key>
<string>{29,30}</string>
<key>textureRect</key>
<string>{{549,175},{29,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>white.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{10,10}</string>
<key>spriteSourceSize</key>
<string>{10,10}</string>
<key>textureRect</key>
<string>{{811,151},{10,10}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cover.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{10,10}</string>
<key>spriteSourceSize</key>
<string>{10,10}</string>
<key>textureRect</key>
<string>{{549,205},{10,10}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>dmx.png</string>
<key>textureFileName</key>
<string>dmx.png</string>
<key>size</key>
<string>{838,236}</string>
</dict>
</dict>
</plist>
