<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addingstar_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,552},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,210},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>daily_hook.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,575},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>daily_smallframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{155,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,203}}</string>
                <key>sourceSize</key>
                <string>{155,203}</string>
            </dict>
            <key>daily_smallframe_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,246},{155,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,203}}</string>
                <key>sourceSize</key>
                <string>{155,203}</string>
            </dict>
            <key>dialog_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,242}}</string>
                <key>sourceSize</key>
                <string>{464,242}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,700},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>light_yellow_prop_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>lu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,110},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>lu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,611},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>main_boxlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,655},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>main_juxingkuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,485},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>main_juxingkuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,395},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,701},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,78},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,632},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,760},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>samll_form.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,451},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,655},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,516},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>shop_gem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,647},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>shop_gem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,573},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>shop_gem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,647},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>shop_gem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,757},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>shop_gem5.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,699},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>start-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{310,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,147}}</string>
                <key>sourceSize</key>
                <string>{310,147}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{152,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,78}}</string>
                <key>sourceSize</key>
                <string>{152,78}</string>
            </dict>
            <key>touch_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,516},{129,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,136}}</string>
                <key>sourceSize</key>
                <string>{129,136}</string>
            </dict>
            <key>v_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,38},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>v_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,176},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>voicebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,198},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,198},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>x_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,632},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmxui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8d93ba3805d49963faa59c0fc4688b2$</string>
            <key>textureFileName</key>
            <string>dmxui.png</string>
        </dict>
    </dict>
</plist>
